apiVersion: batch/v1
kind: CronJob
metadata:
  name: etl-cronjob
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: etl-container
            image: khdevops/etl-app:bee0629
            imagePullPolicy: Always
            env:
            - name: DB_HOST
              value: postgresql.etl-app.svc.cluster.local
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: postgres
            - name: DB_USER
              value: postgres
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgresql
                  key: postgres-password
          restartPolicy: OnFailure